
{{ define "main" }}
  <div class="main" role="main">
    <div class="row">
        <div class="col-md-6">

            <h2>Próximos eventos</h2>
            <ul>
                {{ range .Pages.Reverse.ByParam "startDate" }}
                  {{ if now.Before (time .Params.startDate) }}
                    <li><span>{{ dateFormat "02 Jan 2006" .Params.startDate }}</span> &raquo; <a href="{{ .URL }}">{{ .Title }}</a></li>
                  {{ end }}
                {{ end }}
            </ul>

            <h2>Anteriores eventos</h2>
            <ul>
              {{ range (.Pages.ByParam "startDate").Reverse }}
                {{ if now.After (time .Params.startDate) }}
                  <li><span>{{ dateFormat "02 Jan 2006" .Params.startDate }}</span> &raquo; <a href="{{ .URL }}">{{ .Title }}</a></li>
                {{ end }}
              {{ end }}
            </ul>
        </div>

      <div class="col-md-6">
    	<h2>Calendario de actividades</h2>
      <p><a href="{{ .Site.Params.activities.calendarPublicURL }}"> Subscríbete a nuestro calendario </a> para estar siempre informado de todas las actividades que realizamos en el RadioClub, de las actividades de interés en la ETSIT UPM y de las activades de Radio de la zona!</p>
      {{ .Site.Params.activities.calendarIframe | safeHTML}}
      </p>
      </div>
    </div>
  </div>
{{ end }}
